/* палитра цветов */
/* цвет шрифта заголовков 212121 */
/* цвет шрифта абзацев  757575 */
/* цвет ховера 2196F3 */
/* цвет фона темный 2F303A */
/* цвет фона наша команда F5F4FA */
/* цвет фона нав  ECECEC */
/* цвет фона  чем мы занимаемся E5E5E5 */
/* цвет фона кнопок портфолио F5F4FA*/

:root {

   --title-color-general: #212121;
   --text-color-general: #757575;
   --logo-nav-color: #000000;
   --color-accent: #2196F3;
   --bgr-color-dark: #2F303A;
   --bgr-color-team: #f5f4fa;
   --bgr-color-nav: #ECECEC;
   --bgr-color-work: #e5e5e5;
   --bgr-color-primary: #ffffff;
   --text-color-secondary: #ffffff;
   --text-address-contacts: rgba(255, 255, 255, .6);
   --bg-button: #188ce8;
   --bg-portfolio: #e5e5e5;
   --bg-portfolio-button: #F5F4FA;
     
}
a {text-decoration: none;}

body {color: var(--text-color-general);
   font-family: roboto, sans-serif;
}

ul {list-style: none}

/* стили логотипа */
.logo {color:var(--color-accent);} 
   
.logo-nav {color: var(--logo-nav-color); 
   font-family: raleway, sans-serif;}
.logo-footer {color: var(--text-color-secondary);
   background-color: var(--bgr-color-dark);}
   
  .logo, .logo-nav, .logo-footer {

      font-family: raleway, sans-serif;
         font-size: 26px;
         line-height: 1.2;
         letter-spacing: .03em;
      }
  


/* стили header */

header {background-color: #ececec;}

.nav, .link-contact {
      font-size: 14px;
      font-weight: 500;     
      line-height: 1.15;
      letter-spacing: .02em;
      }
.link-nav {color: var(--title-color-general);
         }
.link-nav:hover, 
.link-nav:focus {color:var(--color-accent);}
.link-contact {color: var(--title-color-general);}
.link-contact:hover,
.link-contact:focus {color: var(--color-accent);}
.nav .current {color: var(--color-accent);}

/* стили hero */
.hero-title {color: var(--text-color-secondary); 
   background-color: var(--bgr-color-dark);
   font-size: 44px;
   font-weight: 900;
   line-height: 1,14;
   letter-spacing: .06em;
   text-align: center;

}

.button {
   color: var(--text-color-secondary);
   background-color: var(--bg-button);
   font-size: 16px;
   font-weight: 700;
   line-height: 1.6;
   letter-spacing: .06em;
   text-align: center;
}

/* особенности подхода */

.approach {background-color: var(--bgr-color-primary);
    font-size: 14px;}
.approach-h2 {color:var(--title-color-general);}
.approach-h3 {color: var(--title-color-general);
      text-transform: uppercase;
      font-weight: 700;
      line-height: 1.14;
      letter-spacing: .03em;
      }
.approach-text {color: var(text-color-general);
      font-weight: 400;
      line-height: 1.46;
      letter-spacing: .02emal;}



/* чем занимаемся */

.work {background-color: var(--bgr-color-primary);}
.work >h2 {color: var(--title-color-general);}



/* наша команда */
.team {background-color: var(--bgr-color-team);}
.team-title {
      color: var(--title-color-general);}
 .team-name {
     color: var(--title-color-general);}
 .team-post {color: var(text-color-general);}    



/* стили адреса */
footer {background-color: var(--bgr-color-dark);}

address {
   color: var(--text-color-secondary);
   /* background-color: var(--bgr-color-dark); */
}

.home-address {
   color: var(--text-color-secondary);
}

.link-address-contact {
   color: var(--text-address-contacts);
}

.project-text {color: var(--text-color-general);}

.project-name {color: var(--title-color-general);}

button {color: var(--title-color-general);
background-color: var(----bg-portfolio-button);
}


button:hover,
button:focus {color: var(--text-color-secondary); background-color: var(--color-accent);}

.portfolio {background-color: var(--bg-portfolio);}
