/* палитра цветов */
/* цвет шрифта заголовков 212121 */
/* цвет шрифта абзацев  757575 */
/* цвет ховера 2196F3 */
/* цвет фона темный 2F303A */
/* цвет фона наша команда F5F4FA */
/* цвет фона нав  ECECEC */
/* цвет фона  чем мы занимаемся E5E5E5 */

:root {

   --title-color-general: #212121;
   --text-color-general: #757575;
   --logo-nav-color: #000000;
   --color-accent: #2196F3;
   --bgr-color-dark: #2F303A;
   --bgr-color-team: #f5f4fa;
   --bgr-color-nav: #ECECEC;
   --bgr-color-work: #e5e5e5;
   --bgr-color-primary: #ffffff;
   --text-color-secondary: #ffffff;
   --text-address-contacts: rgba(255, 255, 255, .6);
   --bg-button: #188ce8;

      
}

body {color: var(--text-color-general);}

/* стили логотипа */
.logo {color:var(--color-accent);}
.logo-nav {color: var(--logo-nav-color);}
.logo-footer {color: var(--text-color-secondary); 
   background-color: var(--bgr-color-dark);}


/* стили heder */

header {background-color: #ececec;}
.link-nav {color: var(--title-color-general);}
.link-nav:hover, 
.link-nav:focus {color:var(--color-accent);}
.link-contact {color: var(--title-color-general);}
.link-contact:hover,
.link-contact:focus {color: var(--color-accent);}
.nav .current {color: var(--color-accent);}

/* стили hero */
.hero-title {color: var(--text-color-secondary); 
   background-color: var(--bgr-color-dark);}

.button {
   color: var(--text-color-secondary);
   background-color: var(--bg-button);
}

/* особенности подхода */

.approach {background-color: var(--bgr-color-primary);}
.approach-h2 {color:var(--title-color-general);}
.approach-h3 {color: var(--title-color-general);}
.approach-text {color: var(text-color-general);}



/* чем занимаемся */

.work {background-color: var(--bgr-color-primary);}
.work >h2 {color: var(--title-color-general);}



/* наша команда */
.team {background-color: var(--bgr-color-team);}
.team-title {
      color: var(--title-color-general);}
 .team-name {
     color: var(--title-color-general);}
 .team-post {color: var(text-color-general);}    



/* стили адреса */
footer {background-color: var(--bgr-color-dark);}

address {
   color: var(--text-color-secondary);
   /* background-color: var(--bgr-color-dark); */
}

.home-address {
   color: var(--text-color-secondary);
}

.link-address-contact {
   color: var(--text-address-contacts);
}